In [2]:
# Question 1
sports_winners = set(["Jake", "John","Eric","Geetha","Femi","Kala"]) 
quiz_winners = set(["John", "Jill","Eric","Geetha","Femi"])r

In [3]:
# 1. print the winners who got sports prize and quiz prize
both_sports_Quiz_winners = sports_winners.intersection(quiz_winners)
both_sports_Quiz_winners

{'Eric', 'Femi', 'Geetha', 'John'}

In [6]:
# 2. print the winners who got sports prize and not quiz prize
x = sports_winners.symmetric_difference(quiz_winners)
print(x)
sports_winners_only=x-quiz_winners
sports_winners_only

{'Kala', 'Jake', 'Jill'}

{'Jake', 'Kala'}

In [7]:
# 3. print the winners who either sports prize or quiz prize
either_sports_prize_or_quiz_prize = sports_winners.union(quiz_winners)
either_sports_prize_or_quiz_prize

{'Eric', 'Femi', 'Geetha', 'Jake', 'Jill', 'John', 'Kala'}

In [8]:
# 4. print the winners who got quize prize and not sports prize
y = sports_winners.symmetric_difference(quiz_winners)
print(y)
quiz_winners_only=y-sports_winners
quiz_winners_only

{'Kala', 'Jake', 'Jill'}

{'Jill'}

In [26]:
# Question 2
myset = {12,34,56,3,45,67,89,1,6}

In [17]:
# 1. Create set by filtering even numbers
even_number=set()
for e in myset:
    if e%2==0:
        even_number.add(e)
print(even_number)

{56, 34, 12, 6}

In [18]:
# 2. Create set by filtering odd numbers
odd_number=set()
for e in myset:
    if e%2!=0:
        odd_number.add(e)
print(odd_number)

{1, 3, 67, 45, 89}

In [19]:
# 3. Create set by filtering numbers>20
numb_greater_than_20=set()
for e in myset:
    if e>20:
        numb_greater_than_20.add(e)
print(numb_greater_than_20)

{34, 67, 45, 56, 89}

In [30]:
# 4. remove the item 56 and create a new set
myset = {12,34,56,3,45,67,89,1,6}
x=set(myset)
x.remove(56)
x

{1, 3, 6, 12, 34, 45, 67, 89}

In [ ]:
# 5. state the difference between remove() & discard() on the set.
myset = {12,34,56,3,45,67,89,1,6}
myset.remove(3) # element 3 will be removed
print(myset)
myset.remove(100) # throw key error because element 100 not in the set
print(myset)

In [32]:
myset = {12,34,56,3,45,67,89,1,6}
myset.discard(3) # element 3 will be removed
print(myset)
myset.discard(100) # eventhough element 100 not in the set, it will run the program
print(myset)

{1, 34, 67, 6, 12, 45, 56, 89}
{1, 34, 67, 6, 12, 45, 56, 89}

In [39]:
# Question 3
# 1. Print the Date after 1 week and 6 days from the current date.
from datetime import datetime,date,timedelta
print(date.today())
dt1=date.today()+timedelta(days=13)
print(dt1)

2023-10-03
2023-10-16

In [65]:
# 2. Given the birthday as date(2000,10,2), find the age
from datetime import datetime,date,timedelta
birthdate = datetime(2000, 10, 2)
current_date = datetime.today()
age = current_date.year - birthdate.year - ((current_date.month, current_date.day) < (birthdate.month, birthdate.day))
print("Age:", age, "years")

Age: 23 years

In [73]:
# 3. Subtract five days from the current date and display it.
dt2=date.today()-timedelta(days=5)
print(date.today())
print(dt2)

2023-10-03
2023-09-28

In [74]:
# 4. Display the dates of yesterday, today and tomorrow
dt3=date.today()-timedelta(days=1)
dt4=date.today()
dt5=date.today()+timedelta(days=1)
print(dt3,dt4,dt5)

2023-10-02 2023-10-03 2023-10-04

In [167]:
# Question 4

string1="Great" 
string2="Learning"  
string3="Python"

In [168]:
# Concatenate them to create a single string called "single_string"
single_string=str()
single_string=string1 +" "+ string2 +" "+ string3
single_string

'Great Learning Python'

In [162]:
# Access and print the first and last characters of "single_string"
Length=len(single_string)
Length
single_string[0]+ single_string[Length-1]

'Gn'

In [163]:
# Reverse the "single_string" and save it in "rev_string"
rev_string= single_string[::-1]
rev_string

'nohtyP gninraeL taerG'

In [179]:
# Extract the word "Learning" from "single_string"
words=single_string.split()
print(words[1])

Learning

In [185]:
# Question 5
sent ="Hello! Great Learning. Now start learning Python."

In [182]:
# a. In the given sentence where is the word "Learning"?:
sent.find('Learning')

13

In [198]:
# b. In the given sentence where is the first occurrence of the letter "e"?:
sent.find('e')

1

In [206]:
# c. In the given sentence where is the first occurrence of the letter "e" when you only search between position 5 and 10?:
sent ="Hello! Great Learning. Now start learning Python."
a=sent[5:10+1]
x=a.find('e')
y=x+5
y

9

In [207]:
# d. Display the list of words in the sentence
sent ="Hello! Great Learning. Now start learning Python."
sent.split()

['Hello!', 'Great', 'Learning.', 'Now', 'start', 'learning', 'Python.']

In [217]:
# Question 6
import pandas as pd
a=str(pd.read_table("new.txt"))
a

'Empty DataFrame\nColumns: [Given a list of tuples, consisting of employee_name and total_bonus_points. Find the best 3 employees who are having the highest score. Write a function find_best_employer, which takes the list of tuples as argument and prints the names of top three employees]\nIndex: []'

In [222]:
import re
from collections import Counter
words = re.findall(r'\w+', a.lower())
word_counts = Counter(words)
sorted_word_counts = sorted(word_counts.items(), key=lambda x: x[1], reverse=True)
print("Top 5 most common words:")
for word, count in sorted_word_counts[:5]:
    print(word ,":", count, "times")

Top 5 most common words:
of : 4 times
the : 4 times
a : 2 times
list : 2 times
tuples : 2 times

In [251]:
# Question 7

sample_input = [('Sanju', 321), ('Reva', 671), ('Darvin', 233), ('Velan', 922), ('Satya', 223), ('Vanathi', 102)]
find_best_employer(sample_input)
def find_best_employer(sample_input):
    sorted_employees = sorted(employee_scores, key=lambda x: x[1], reverse=True)
    print("The top three employees for the year are:")
    for i, (name, score) in enumerate(sorted_employees[:3]):
        print(i,":",name)

The top three employees for the year are:
1 : Velan
2 : Reva
3 : Sanju